CONTAINER_NAME=bubackos
CONTAINER_WRAPPERS=(make gcc ld qemu-system-x86_64 objdump readelf cmake gdb start-emulator myos-start myos-connect myos-stop myos-gdb)
CONTAINER_EXTRA_ARGS="--cap-add=SYS_PTRACE --security-opt seccomp=unconfined"


# the start-debugger starts a container in background. To avoid the container dies, a "tail" is executed, waiting until tmux dies
container_cmd() {
    case "$1" in
        start-emulator)
            echo "${CONTAINER_CMDLINE_PREFIX} ${CONTAINER_NAME} ./tools/start-emulator.sh \$*"
            ;;
        myos-start)
            echo -e "
                ${CONTAINER_CMDLINE_PREFIX} -d --name myos-debugger --entrypoint=bash -p 1234:1234 -e QEMU_EXTRA_ARGS='-S' ${CONTAINER_NAME} -c './tools/start-emulator.sh build/myos.iso; tail --pid=\`pgrep tmux\` -f /dev/null'
                echo 'Daemon running. Use myos-connect to connect'
            "
            ;;
        myos-connect)
            echo "${CONTAINER_EXE} exec -it myos-debugger tmux attach -d"
            ;;
        myos-stop)
            echo "${CONTAINER_EXE} kill myos-debugger"
            ;;
        myos-gdb)
            echo "${CONTAINER_EXE} exec -i myos-debugger gdb \$*"
            ;;
    esac
}

container_layout
